title: TomTom Maps SDK for Android - Search along a route
tagline: 'Take your first steps in using the TomTom Search, Routing and Maps SDKs'
tags:
  - android
  - tomtom-sdk
  - routing
  - maps
  - search
description: >-
  In this course you will learn how to create an Android application that helps
  a user find points of interest along a planned route using TomTom Maps SDK
template:
  repo: maps-sdk-android-search-along-a-route-template
  name: lab-maps-sdk-android-search-along-a-route
before:
  - type: createIssue
    title: Welcome
    body: 00.00-welcome.md
    comments:
      - 01.00-setup.md
      - 00.02-open-pr.md
  - type: updateBranchProtection

steps:

  # Step 1: User opens a pull request after cloning and validating project builds
  - title: Open a pull request
    description: Welcome! Let's get started with our project.
    event: pull_request.opened
    link: '{{ repoUrl }}/issues/1'
    actions:
      - type: gate
        left: '%payload.pull_request.title%'
        right: Changes
        operator: ===
        else:
          - type: respond
            with: Make sure the title of your PR is "Changes"
            issue: Welcome
      - type: closeIssue
        issue: Welcome
      - type: respond
        with: 01.01-build-gradle.md
        issue: Changes
      - type: createPullRequestComment
        body: 02.00-add-dependencies.md
        file: app/build.gradle
        position: 33

  # Step 2: User adds dependencies
  - title: Extend app/build.gradle
    description: Add the TomTom SDK dependencies to app/build.gradle
    event: push
    link: '{{ repoUrl }}/issues/2'
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'app/build.gradle'
      - type: gate
        left: /^\s*implementation\s*\'com.tomtom.online:sdk-.*/gm
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 02.01-bad-dependencies.md
            issue: Changes
      - type: createPullRequestComment
        body: 03.00-activity.md
        file: app/src/
        position: 3
        pullRequest: '%actions.metaPR2.data.number%'
      - type: createReview
        event: APPROVE
        body: approve.md
        pullRequest: Changes

  # Step 3: Merge pull request
  - title: Merge your pull request
    event: pull_request.closed
    description: Congrats on finishing the course!
    actions:
      - type: respond
        with: congrats.md
        issue: Changes
