title: TomTom Maps SDK for Android - Search along a route
tagline: 'Take your first steps in using the TomTom Search, Routing and Maps SDKs'
tags:
  - android
  - tomtom-sdk
  - routing
  - maps
  - search
description: >-
  In this course you will learn how to create an Android application that helps
  a user find points of interest along a planned route using TomTom Maps SDK
template:
  repo: maps-sdk-android-search-along-a-route-template
  name: lab-maps-sdk-android-search-along-a-route
before:
  - type: createIssue
    title: Welcome!
    body: 00.00-welcome.md
    comments:
      - 00.01-begin-here.md
steps:
  - title: Welcome
    description: Get the course started!
    event: issues
    link: '{{ repoUrl }}/issues/1'
    actions:
      - type: gate
        left: '%payload.action%'
        operator: ===
        right: closed
      - type: createPullRequest
        title: Getting Started
        body: 01.00-setup.md
        head: setup
        action_id: setup_pr
      - type: respond
        issue: '%actions.setup_pr.data.number%'
        with: 01.01-setup-activities.md
      - type: assignRegistrant
        issue: '%actions.setup_pr.data.number%'
      - type: respond
        with: 01.02-goto-first-pr.md
        data:
          url: '%actions.setup_pr.data.html_url%'
      - type: createPullRequestComment
        body: 01.03-add-dependencies.md
        file: app/build.gradle
        position: 33
