title: TomTom Maps SDK for Android - Search along a route
tagline: 'Take your first steps in using the TomTom Search, Routing and Maps SDKs'
tags:
  - android
  - tomtom-sdk
  - routing
  - maps
  - search
description: >-
  In this course you will learn how to create an Android application that helps
  a user find points of interest along a planned route using TomTom Maps SDK
template:
  repo: maps-sdk-android-search-along-a-route-template
  name: lab-maps-sdk-android-search-along-a-route
before:
  - type: createIssue
    title: Welcome
    body: 00.00-welcome.md
    comments:
      - 00.01-setup.md
      - 00.02-open-pr.md
  - type: updateBranchProtection

steps:

  # Step 1: User opens a pull request after cloning and validating project builds
  - title: Get started
    description: Welcome! Let's get started with our project and create our first pull request
    event: pull_request.opened
    link: '{{ repoUrl }}/issues/1'
    actions:
      - type: gate
        left: '%payload.pull_request.title%'
        right: Changes
        operator: ===
        else:
          - type: respond
            with: Make sure the title of your PR is "Changes"
            issue: Welcome
      - type: closeIssue
        issue: Welcome
      - type: respond
        with: 01.01-build-gradle.md
        issue: Changes
      - type: createPullRequestComment
        body: 02.00-add-tomtom-repository.md
        file: build.gradle
        position: 4

  # Step 2: User adds TomTom Maven repository
  - title: Add TomTom Maven repository
    description: Add the TomTom Maven repository to top-level build.gradle
    event: push
    link: '{{ repoUrl }}/pull/2'
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'build.gradle'
      - type: gate
        left: /^\s*url\s*\"https:\/\/maven.tomtom.com\:8443\/nexus\/content\/repositories\/releases.*\"/gm
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 02.00-bad-tomtom-repository.md
            issue: Changes
      - type: createPullRequestComment
        pullRequest: '%actions.metaPR2.data.number%'
        body: 03.00-add-dependencies.md
        file: app/build.gradle
        position: 4

  # Step 3: User adds TomTom SDK dependencies
  - title: Add TomTom SDK dependencies
    description: Add the TomTom SDK dependencies to the module-level build.gradle
    event: push
    link: '{{ repoUrl }}/pull/2'
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'app/build.gradle'
      - type: gate
        left: /^\s*implementation\s*\'com.tomtom.online:sdk-.*/gm
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 03.00-bad-dependencies.md
            issue: Changes
      - type: createReview
        event: APPROVE
        body: approve.md
        pullRequest: Changes

  # Step: Merge pull request
  - title: Merge your first pull request
    event: pull_request.closed
    description: Congrats on finishing the first part of the course!
    actions:
      - type: respond
        with: 03.02-congrats.md
        issue: Changes

  # Step 4: Display a map
  - title: Display a map - Add the map fragment to the layout
    description: Extend the activity layout and add a MapFragment
    event: pull_request.opened
    link: '{{ repoUrl }}/pull/3'
    actions:
      - type: gate
        left: '%payload.pull_request.title%'
        right: Display map
        operator: ===
        else:
          - type: respond
            with: Make sure the title of your PR is "Display map"
            issue: Display map
      - type: respond
        with: 04.00-display-map.md
        issue: Display map
      - type: createPullRequestComment
        body: 04.01-display-map-layout.md
        file: app/src/main/res/layout/activity_main.xml
        position: 4

  # Step 5: Tell the MainActivity about the TomTom map
  - title: Display a map - MainActivity - Add TomtomMap
    description: Extend the MainActivity to display a map
    event: push
    link: '{{ repoUrl }}/pull/3'
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/display-map
      - type: getPullRequest
        pullRequest: Display map
        action_id: metaPR3
      - type: createPullRequestComment
        pullRequest: '%actions.metaPR3.data.number%'
        body: 05.00-display-map-mainactivity.md
        file: app/src/main/java/com/tomtom/online/sdk/searchalongaroute/MainActivity.java
        position: 14

  # Step 6:
  - title: Display a map - MainActivity - Implement the OnMapReadyCallback
    description: Extend the MainActivity to display a map
    event: push
    link: '{{ repoUrl }}/pull/3'
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/display-map
      - type: getPullRequest
        pullRequest: Display map
        action_id: metaPR3
      - type: createPullRequestComment
        pullRequest: '%actions.metaPR3.data.number%'
        body: 06.00-display-map-mainactivity.md
        file: app/src/main/java/com/tomtom/online/sdk/searchalongaroute/MainActivity.java
        position: 12

  # Step 7
  - title: Request and add the TomTom Maps API key to the project
    description: Request and add the Maps API key to the project
    event: push
    link: '{{ repoUrl }}/pull/3'
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/display-map
      - type: getPullRequest
        pullRequest: Display map
        action_id: metaPR3
      - type: respond
        with: 07.00-request-map-key.md
        issue: Display map
      - type: createPullRequestComment
        pullRequest: '%actions.metaPR3.data.number%'
        body: 07.02-add-key-to-project.md
        file: app/src/main/AndroidManifest.xml
        position: 4

  # Step 8
  - title: Install the app on your Android phone
    description: Install the app on your Android phone
    event: push
    link: '{{ repoUrl }}/pull/3'
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/display-map
      - type: getPullRequest
        pullRequest: Display map
        action_id: metaPR3
      - type: respond
        with: 08.00-install-app.md
        issue: Display map
      - type: createReview
        event: APPROVE
        body: approve.md
        pullRequest: Display map

  # Step 9: Merge pull request
  - title: Merge the 'Display map' pull request
    event: push
    description: Congrats on finishing the course!
    actions:
      - type: respond
        with: 09.00-congrats.md
        issue: Display map
